.gallery-wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 400px;
}

.gallery{
    overflow: hidden;

}

.cards-container {
    display: flex;
    transition: transform 0.5s ease;

}
.card {
    flex: 0 0 250px;
   /*background-color:darkgrey;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    margin: 0 10px;
    background-color:#D9CDBF ;
}
.card img{
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.card img:hover{
      scale: 1.1;
  transition: 0.100s;
  
}



.gallery-wrapper .gallery .cards-container .card .corporativo{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
    
}

.gallery-wrapper .gallery .cards-container .card .maes{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.gallery-wrapper .gallery .cards-container .card .aniversario{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.gallery-wrapper .gallery .cards-container .card .namorados{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.gallery-wrapper .gallery .cards-container .card .ferias{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.gallery-wrapper .gallery .cards-container .card .natal{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.card p{
    margin: 10px 0;
    color: #333;
}


.card button{
    background-color: #0a0a0b;
    color: #f7f1eb;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.card button:hover{
    background-color: #5f584f;
    scale: 1.1;
    transition: 0.100s
   

}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:#D9CDBF ;
    color:rgb(246, 245, 245);
    border: none;
    padding: 10px;
    cursor:pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;

}
.arrow.left{
    left: -40px;

}
.arrow.right{
    right: -40px;
    
}
.arrow:hover{
    background-color: #f2f4f7;
    
}



